@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
$serif: "Playfair Display", serif;
$sans-serif: "Lato", sans-serif;

* {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  // Colors
  --accent: #c74653;
}
body {
  color: #333;
  text-rendering: optimizeLegibility;
  background: var(--light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}
p {
  line-height: 1.6;
  color: #666;
}
a {
  color: inherit;
}
section {
  background: var(--light);
}
#colouredSection {
  background: #fff;
  padding: 40px;
}
ul {
  list-style: none;
}
button {
  &::-moz-focus-inner {
    border: none;
  }
  &:focus {
    outline: none;
  }
}
#CTA {
  color: #fff;
  background: var(--accent);
  border: 2px solid var(--accent);
  font-weight: 700;
  padding: 3px 10px;
  &:hover {
    background: transparent;
    border-color: var(--accent);
    color: #333;
  }
}
.sectionHeader {
  width: fit-content;
  margin: auto;
  position: relative;
  &.left {
    margin: 0;
  }
  &::after {
    position: relative;
    z-index: -1;
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    background: var(--accent);
    opacity: 0.75;
    top: -10px;
  }
}

// NavBar
nav {
  min-height: 60px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  a.nav-link {
    cursor: pointer;
    color: #333;
    &:focus,
    &:hover {
      transition: 0.3s;
      color: #f0707d;
    }
  }
  .active {
    font-weight: 700;
  }
}
#nav-dropdown {
  width: 100%;
}
#social {
  .nav-link {
    padding: 0;
    margin-right: 5px;
  }
}
#header {
  height: 20px;
  border-radius: 0;
  background: #fafafa;
}
.navbar-brand {
  font-family: $serif;
  letter-spacing: 0.5px;
  // color: #333;
  color: var(--accent);
  transition: 0.3s;
  &:hover {
    color: #333;
  }
}
a.dropdown-item {
  &:focus,
  &:hover {
    background: #c33a4825;
    transition: 0.3s;
  }
}

// HomePage
#cityGuilds {
  height: 100px;
}
#ownerImg {
  border-radius: 1rem;
}
// Gallery
.imgContainer {
  position: relative;
  padding: 0;
  top: 10px;
  text-align: center;
}
.imgWrapper {
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  height: 20rem;
  width: 20rem;
  justify-content: center;
  margin-top: -10px;
  img {
    cursor: pointer;
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.07);
      filter: none;
    }
  }
}

// Footer
footer {
  background: #fff;
  h5 {
    width: fit-content;
    &::after {
      z-index: -1;
      content: "";
      position: relative;
      display: block;
      height: 10px;
      width: 100%;
      background: var(--accent);
      opacity: 0.75;
      top: -10px;
    }
  }
  p,
  a {
    text-transform: uppercase;
    font: 700 12px $sans-serif;
    color: #333;
  }
  a {
    opacity: 0.6;
    &:hover {
      color: var(--accent);
    }
  }
  .copyright {
    text-align: center;
    padding-bottom: 40px;
    background-color: var(--accent2);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 12px;
  }
}

@media only screen and (max-width: var(--breakpoint-md)) {
  #social {
    .nav-link {
      padding: 10px;
    }
  }
}
